<div class="link" layout="row" layout-align="center center">
  <a href="https://github.com/NavidFa" target="_blank"><ng-md-icon icon="email" size="60"></ng-md-icon>navid.fallahazad@gmail.com</a>
  <a href="https://github.com/NavidFa" target="_blank"><ng-md-icon icon="github-circle" size="60"></ng-md-icon>https://github.com/NavidFa</a>
  <a href="https://www.linkedin.com/in/navidfa" target="_blank"><ng-md-icon icon="linkedin-box"   size="60"></ng-md-icon>https://www.linkedin.com/in/navidfa</a>
</div>

<div layout="column" layout-padding layout-margin ng-cloak>
    <md-content class="md-no-momentum">
        <ng-md-icon icon="person_pin" style="fill:Black" size="30" class="name"></ng-md-icon>
        <md-input-container class="md-icon-float md-block">
            <label>Name</label>
            <input ng-model="user.name" type="text">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
            <ng-md-icon icon="local_phone" style="fill:Black" size="30" class="name"></ng-md-icon>
            <input ng-model="user.phone" type="text" placeholder="Phone Number">
        </md-input-container>
        <ng-md-icon icon="email" style="fill:Black" size="30" class="name"></ng-md-icon>

        <md-input-container class="md-icon-float md-block">
            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>
    </md-content>
</div>
