<div class="mainhome" layout="row" layout-align="center center">
    <md-card md-whiteframe="19" layout="row" layout-xs="column" flex="70" flex-xs="90" layout-align="center center" layout-align-xs="center center">
        <div class="home" layout="row" layout-xs="column"  flex-xs="90" layout-align-xs="center center">
            <div  flex flex-xs="20">
                <img md-whiteframe="19" ng-src="./images/navidpic.jpg" class="md-media-lg" flex="50" flex-xs="100" alt="{{project.title}}">
            </div>
            <div flex flex-xs="60">
                <h3>About Me:</h3>
                <p>
                    I am a web developer with a solid foundation in programing languages. My work is characterized by precision and aesthetic perceptiveness. I appreciate collaboration and respect all forms of innovation. Currently, I am based in Denver Colorado where I
                    enjoy snowboarding, hiking with my dog and photography. Through the Galvanize Web Development programs I have gained proficiency in: JavaScript, PostgreSQL, Node.js, Express, AngularJS 1.0, React, Agile product management, Knex.js,
                    jQuery and Mocha/Chai testing. Currently, I am working with Angular app development, TDD, and continuing to focus on my understanding API design. Check back soon to see my latest projects.
                </p>
                <a href="images/Resume.pdf">Resume</a>
            </div>
          </div>
    </md-card>
</div>
