<div class="projects" ng-repeat="project in projects"  layout="row" layout-xs="column" layout-align="center center">
    <md-card layout="row" md-whiteframe="99" flex-xs="90" flex="70" layout-xs="column" layout-align-xs="center center">
      <div flex class="projectsImg">
          <img  md-whiteframe="99" ng-src="{{project.image}}" class="md-media-lg" flex="70" alt="{{project.title}}">
      </div>
      <div flex >
        <md-card-title>
            <a href="{{project.link}}" target="_blank">
                <md-card-title-text>
                    <span class="md-headline">{{project.title}}</span>
                </md-card-title-text>
        </md-card-title>
        </a>
        <md-card-content>
            <p>
                {{project.description}}
            </p>
            <p>
              {{project.technologies}}
            </p>
        </md-card-content>
        <md-card-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
                <a href="{{project.github}}" target="_blank">
                    <ng-md-icon icon="github-circle" style="fill:Black" size="30"></ng-md-icon>
                </a>
            </md-button>
        </md-card-actions>
      </div>
    </md-card>
</div>
